@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar .nav-item a,{
  margin-left: 15px;
  color: white !important;
}

.navbar .nav-item a:hover 
{
  color: rgba(255, 255, 255, 0.8) !important;
}


.row {
  display: flex;
}
